<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center">
    <h2 class="text-5xl font-bold my-5">¿Quienes Somos?</h2>
    <p class="text-zinc-300 text-justify">
        Somos una organización sin fines de lucro dedicada a llevar alegría y
        esperanza a las personas que más lo necesitan. Nuestra misión es
        transformar vidas a través de la magia de una sonrisa. Trabajamos
        arduamente para realizar actividades y proyectos que mejoren la calidad
        de vida de niños, jóvenes y adultos en situaciones vulnerables. Únete a
        nosotros y ayúdanos a hacer una diferencia positiva en el mundo. ¡Juntos
        podemos crear sonrisas que cambien vidas!
    </p>
</section>
