<header class="bg-zinc-900 flex flex-col md:flex-row p-20 gap-3 rounded-xl">
    <div class="mb-2">
        <h1 class="text-5xl font-bold pb-2">Fundación Creadores de Sonrisas</h1>
        <p class="text-justify my-4 text-2xl">
            ¡Haz tu aporte para cambiar vidas hoy mismo! Haz clic aquí para
            donar y contribuir a nuestra misión de llevar alegría y esperanza a
            quienes más lo necesitan. Cada pequeña contribución suma y nos ayuda
            a hacer una gran diferencia en la comunidad. ¡Gracias por tu apoyo!
        </p>
        <button class="bg-red-500 px-3 py-2 hover:bg-red-400"
            >Donar Ahora</button
        >
    </div>
    <img src="images/smiles-tshirt.svg" alt="" class="w-80" />
</header>
